<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Página Sobre</title>
</head>
<body>
    <h1>Sobre</h1>

    <a href="/products">Acessar produtos</a>
    
    <p>Descrição da empresa</p>
    
</body>
</html>
